<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Product Hunting</title>

    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

    <header>
        <a href="/" class="logo">Product Hunting </a>

        <nav class="navbar">

            <a href="/home" class="active" target="_parent">Home</a>
            <a href="/loginpage" target="_self">LogIn</a>

            <a href="/services" target="_self">Services</a>
            <a href="/contact" target="_self">Contact Us</a>
            <a href="/help" target="_self">Help</a>


        </nav>

    </header>

    <section class="hero" style="background-image: url({{url_for('static',filename='/image/a6.jpg')}})  ">
        



        </div>

    </section>

    <section class="productsearch">
        <div class="context">

            <h1>Find your product here</h1>
            <span class="span">get the best offer of your product</span>

            <form class="productform" action="/gettext" method="post">
                <input type="text" placeholder="product name" name="text_data" id="product">
                <input type="submit" value="search" class="button" id="click">
            </form>
            <p>{{error}}</p>
            <br>

            <h3> We are Supporting - </h3>
            <span><a href="https://www.flipkart.com/"><img
                        src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-vector-3.png"
                        width="250" alt="flipkart logo transparent vector" /></a><a href="https://www.amazon.in/"><img
                        src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/amazon-png-logo-vector-1.png"
                        width="250" alt="amazon png logo vector"></a></span>


        </div>


        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>


    <section>

        <div class="conatiner">

            <section class="home" id="home">
                <div class="image">
                    
                    <img class="tilt" src="{{url_for('static',filename='/image/Online shopping-bro.png')}}" alt="">
                </div>

                <div class="content">
                    <p> <span> the world together <br> with innovative experiences </span></p>
                    <h2>How easily can i make
                        Product Searching</h2>
                    <p>it i transition are driving the growth <br> as you read this. We enables digital
                        <br> needs of tomorrow,today.
                    </p>



                </div>

            </section>

        </div>

    </section>
    <section>

        <div class="conatiner">

            <section class="home" id="home1">


                <div class="content" style="margin-left: 120px;">
                    <p> <span> the world together <br> with innovative experiences </span></p>
                    <h2>How easily can i make
                        Product Searching</h2>
                    <p>it i transition are driving the growth <br> as you read this. We enables digital
                        <br> needs of tomorrow,today.
                    </p>



                </div>
                <div class="image">
                    <video class="tilt" autoplay loop muted>
                        {{url_for('static',filename='/video/1.mp4')}}
                        <source src=" {{url_for('static',filename='/video/1.mp4')}}" type="video/mp4">

                    </video>
                </div>

            </section>

        </div>

    </section>
    <section class="main-container">
        <div class="card-container">
            <div class="pricing-card card-01">
                <div class="pricing">
                    <div class="price">
                        <sup>
                            $
                        </sup>
                        <span> 12</span>
                    </div>
                    <p>/month</p> <span class="type">Basic</span>
                </div>
                <div class="card-body">
                    <div class="top-shape"></div>
                    <div class="card-content">
                        <ul>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="disabled">Lorem Ipsum Dolor. <i class="uil uil-times-circle"></i></li>
                            <li class="disabled">Lorem Ipsum Dolor. <i class="uil uil-times-circle"></i></li>
                            <li class="disabled">Lorem Ipsum Dolor. <i class="uil uil-times-circle"></i></li>
                        </ul> <button class="buy-btn">Buy Now</button>
                    </div>
                </div>
                <div class="ribbon"></div>
            </div>
            <div class="pricing-card card-02">
                <div class="pricing">
                    <div class="price"> <sup>$</sup> <span>20</span> </div>
                    <p>/month</p> <span class="type">Pro</span>
                </div>
                <div class="card-body">
                    <div class="top-shape"></div>
                    <div class="card-content">
                        <ul>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="disabled">Lorem Ipsum Dolor. <i class="uil uil-times-circle"></i></li>
                            <li class="disabled">Lorem Ipsum Dolor. <i class="uil uil-times-circle"></i></li>
                        </ul> <button class="buy-btn">Buy Now</button>
                    </div>
                </div>
                <div class="ribbon"></div>
            </div>
            <div class="pricing-card card-03">
                <div class="pricing">
                    <div class="price"> <sup> $ </sup> <span>25</span> </div>
                    <p>/month</p> <span class="type">Premium</span>
                </div>
                <div class="card-body">
                    <div class="top-shape"></div>
                    <div class="card-content">
                        <ul>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                            <li class="active">Lorem Ipsum Dolor. <i class="uil uil-check-circle"></i></li>
                        </ul> <button class="buy-btn">Buy Now</button>
                    </div>
                </div>
                <div class="ribbon"></div>
            </div>
        </div>
    </section>
    <section class="footer" id="contact">

        <div class="box-container">

            <div class="box">
                <h3>Product Hunting</h3>
                <p>Thank you for visiting our website. Connect with me over socials. <br /> <br /> </p>
                <div class="share">

                    <a href="" class="fab fa-linkedin" aria-label="LinkedIn" id="linked" target="_blank"></a>

                    <a href="" class="fas fa-envelope" aria-label="Mail" id="evelope" target="_blank"></a>
                    <a href="" class="fab fa-instagram" aria-label="Mail" id="insta" target="_blank"></a>

                    <a href="" class="fab fa-telegram-plane" aria-label="Telegram" id="telegram" target="_blank"></a>
                </div>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
                <a href="#about"><i class="fas fa-chevron-circle-right"></i> service</a>
                <a href="#education"><i class="fas fa-chevron-circle-right"></i> contact us</a>
                <a href="#skills"><i class="fas fa-chevron-circle-right"></i> help</a>

            </div>

            <div class="box">
                <h3>contact info</h3>
                <p> <i class="fas fa-phone"></i>+91-9456954582</p>
                <p> <i class="fas fa-envelope"></i>a9756549615@gmail.com</p>
                <p> <i class="fas fa-map-marked-alt"></i>muzaffarnagar,india 251001</p>

            </div>

        </div>


    </section>


</body>

</html>